
body{
    margin: 0;
}

h1{
    text-align: center;
    margin: 0;
    padding: 0;
}

ul{
    padding:0;
    background-color: #ccc;
}

li a{
    text-align: center;
    display: block;
    font-size: 30px;   
    text-decoration: none;
    color: darkred;
    padding: 5px;
}

li:hover{
    color:blue;
    background-color: #555;
}
