
.container{
    width: auto;
    --bs-gutter-x: 1rem;
}

.d-flex{
    display:flex;
}

.justify-content-between{
    justify-content: space-between;
}

.remove-ul-grid{
    padding: 0;
    margin: 0;
      
}

.vertical-center{
    flex-wrap: wrap;
    align-content: center;
}