
header{
    background-color: rgba(6, 42, 29, 0.6);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    line-height: 3.2rem;
    /* overflow: hidden; */
    backdrop-filter: blur(3px);
}

header a{
    padding-left: 1rem;
    padding-right: 1rem;
}
#menu{
    padding-right: 1rem;
}

#menu li{
    display: flex;
    list-style-type: none;
    
}



#menu li :hover{
    background-color:rgba(170, 191, 186, 0.05);
    font-weight: bold;
}

#logo a{
    font-size: 25px;
}

#logo :hover{
    font-weight: bold;
    background-color:rgba(170, 191, 186, 0.05);
}

header a{
    color: white;
    text-decoration: none;
    /* background-color: blue; */
}

#mobile-menu{
    display: none;
}

#mobile-menu{
    display: none;
    margin: 5px;
    align-items: center;
}

#mobile-menu span{
    margin-right: 1rem;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    border:1px solid white;
    border-radius: 5px;
    font-size: 25px;;
    cursor:pointer;
    height: 30px;
    width: 30px;
}

#dropdown-menu{
    left:0;
    text-align: center;
    position: absolute;
    top: 2.8rem;
    background-color: rgba(6, 42, 29);
    width:100%;
    backdrop-filter: blur(3px);
    transform: translateY(-200%);
    transition: 0.3s;
}

#mobile-menu:hover #dropdown-menu{
    transform: translateY(0);
}

.option{
    color: white;
}

@media (max-width: 800px){
    #mobile-menu{display: flex;}
    #menu li{display:none;}
    #logo a{font-size: 20px;padding-left: 20px;padding-right: 20px;}

}



/* 
header{
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    background-color: rgba(6, 42, 29, 0.722);
    z-index: 1000;
}

header>div{
    display: flex;
    justify-content: space-between;
}

header ul{
    padding: 0;
    margin: 0;
}

#menu{
    display: block;
}

#menu ul{
    display: flex;
}

#menu li{
    display: flex;
}
#menu a{
    padding-left: 10px;
    padding-right: 10px;
}

#menu li :hover{
    font-weight: bold;
    color: black;
    background-color:rgb(105, 137, 129);
}

#logo :hover{
    color: rgb(131, 127, 127);
}

#logo{
    display: flex;
}

#logo a{
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
}



 */